body {
  background: linear-gradient(to right, #0000cc 0%, #ff3300 100%);
  font-family: rockwell;
}

h1 {
  color: orange;
  font-size: 35px;
  text-align:center;
}

p {

  font-size: 20px;
  color: orange;
}
ol {
  color: orange;
  font-size: 20px;
}

h2 {
  color: orange;
}
table{
  color: orange;
  border: 1px solid black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
